.content {
  max-width: 480px;
  margin: auto;
  color: white;
  font-family: starwars;

  .title-row {
    height: 42px;

    .title {
      font-size: 49px;
    }

  }

  .subtitle-row {
    height: 36px;

  }
}