.card {
    box-shadow: 0 2px 2px 0 rgb(255 255 255 / 16%),
        0 0 0 1px rgb(255 255 255 / 8%);
    margin: 8px;

    .image {
        width: 126px;
        margin: 8px;
        border-top-left-radius: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 30px;
    }

    .edit-button {
        color: #00C9A7;
        margin: auto;
    }

    .content-text {
        width: 200px;
    }

    .image-container {
        background-color: #4D8076;
        border: 1px solid #4D8076;
        height: 200px;
        margin: 2px;
        display: flex;
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 30px;
    }

    .name {
        color: white;
        margin: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}