.buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;

    .red {
        color: red;
    }

    .blue {
        color: blue;
    }

    .green {
        color: green;
    }
}