<div class="mt-3 d-flex justify-content-end border-top pt-4 buttons-container">
    <button mat-button class="generic btn-submit col-5" (click)="onPreviousPage()">
        <mat-icon class="blue" fontIcon="arrow_back"></mat-icon>
        Previous Page
    </button>
    <button mat-button class="generic btn-submit col-5" (click)="onDelete()">
        <mat-icon class="red" fontIcon="person_off"></mat-icon>
        Delete
    </button>
    <button mat-button class="generic btn-submit col-5" (click)="onSave()" [disabled]="disabledOnSaveBtn" type="submit">
        <mat-icon class="green" fontIcon="done"></mat-icon>
        Save Changes
    </button>
</div>