<ng-container *ngIf="user$ | async as user">
    <div class="border">
        <div class="content">
            <fligoo-head-board class="headboard" [title]="'User Edit'" [subtitle]="'Personal Info'"></fligoo-head-board>
            <form [formGroup]="userForm">
                <fligoo-personal-info [user]="user"></fligoo-personal-info>
                <fligoo-buttons [disabledOnSaveBtn]="!userForm.valid" (onSaveBtn)="submit()"
                    (onPreviousPageBtn)="goBack()" (onDeleteBtn)="deleteUser()"></fligoo-buttons>
            </form>
        </div>
    </div>
</ng-container>